/* general settings for AELKYR presentation page */

html {
	background-color: #0f1214;
}

p {	
	color: #b33c14;
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	text-align: justify;
}

a {
	text-decoration: none; 	/* remove underbar for links */
	color: #236199;
}

a:hover {
	color: #49add0;
	text-decoration: underline;
}

h1 {
	color: #cf5009;
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

h1:hover {
	color: #f59e00;
}

/* nav bar */

nav {
	position: fixed;
	top: 0px;
	height: 60px;
	width: 100%;
	background : #040708;
	display: inline-block;
	overflow: visible;
}

#nav_aelkyr_logo {
	position: fixed;
	left: 0px;
	margin-top: 7px;
	margin-left: 20px;
}

.nav_button_back {
	z-index: 10;
}

.nav_button_front {
	z-index: 20;
	position: absolute;
	top: 0px;
	left: 0; /* WRNG: necessary for firefox */
}

#nav_aelkyr_logo:hover .nav_button_front { /*https://www.tutorialrepublic.com/faq/how-to-change-image-on-hover-with-css.php*/
  z-index: -99;
}

.nav_button {
	position: relative;
	float: right;
	margin-right: 2vw;
	width: 182px;
	height: 42px;
	margin-top: 10px;
}

.nav_button:hover .nav_button_front { /*https://www.tutorialrepublic.com/faq/how-to-change-image-on-hover-with-css.php*/
  z-index: -99;
}

/* body content */

#top_content {
	margin-top: 70px;
}

#presentation_aelkyr_logo {
	margin-bottom: 20px;
}

.content img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.content p {
	margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content h1 {
	margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#content_end_filler {
	height: 40px;
	width: 400px;
}

/* news section */

.news_update {
	margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.news_update p {
	display: inline;
}

.dot_news {
	display: inline-block;
	background-image: url("./sprites_usable/dot_pin_1_usable.png");
	height: 18px;
	width: 18px;
}

/* footer section */










